.modal-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-btn > button {
    width: 45%;
}

.modal-btn > button:first-of-type {
    background-color: #388e3c !important;
}

.modal-btn > button:last-of-type {
    background-color: #d32f2f !important;
}